/* Our Causes Section  */
#our-causes-hero{
    width: 100%;
    background-image: url('./images/emmanuel-ikwuegbu-M-4lFg1Xfag-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
}
.our-causes-hero-wording{
    color: white;
    font-size: 6rem;
}
.our-causes-wrapper{
    margin-top: 10rem;
}
/* End Our Causes Section  */

/* Our Events Section  */
#our-events-hero{
    width: 100%;
    background-image: url('./images/bill-wegener-LqOO5Ko0zSo-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
}
.our-events-hero-wording{
    color: white;
    font-size: 6rem;
}
.our-events{
    margin-top: 7rem;
    width: 90%;
}
.our-events-img{
    width: 100%;
    height: 50rem;
    background-image: url('./images/roman-nguyen-lPPkJ4NfQtQ-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.our-events-img-date{
    background-color: var(--black-1);
    padding: 4rem;
}
.our-events-date{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.our-events-month{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.our-events-organizer{
    margin-top: 2rem;
    text-align: center;
}
.our-events-time{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.our-events-left-wrapper-upper{
    border-bottom: 1px solid;
}
.our-events-left-wrapper-lower{
    text-align: center;
}
.our-events-left-wrapper-lower-text{
    margin-bottom: 2rem;
}
.events-location{
    padding: 2rem;
    background: var(--black-3);
    margin-left: 8rem;
    margin-right: 8rem;
}
.events-location p{
    color: white;
}
.our-events-right{
    margin-top: 5rem;
}
.our-events-card-wrapper{
    display: grid;
    grid-template-columns: 10rem 1fr;
    margin-bottom: 2rem;
}
.our-events-card-wrapper-left{
    width: 12rem;
    background: var(--black-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.our-events-card-wrapper-right{
    padding-left: 5rem;
}
.our-events-card-wrapper-right p,
.our-events-card-wrapper-right h2{
    text-align: start;
}
.our-events-card{
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid;
}
@media only screen and (min-width: 768px){
    .our-events-wrapper{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .our-events-card-wrapper-right h2{
        margin-bottom: 2rem;
    }
    .our-events-right{
        margin-top: 0.1rem;
    }
}
/* End Our Events Section  */

/* Gallery Section  */
#gallery-hero{
    width: 100%;
    background-image: url('./images/bill-wegener-LqOO5Ko0zSo-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    margin-bottom: 15rem;
}
.gallery-hero-wording{
    color: white;
    font-size: 6rem;
}
#gallery{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.gallery-card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.gallery-card:hover{
    transform: translateY(20px);
}
.gallery-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,01));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.gallery-card:hover::before{
    opacity: 1;
}
.gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.gallery-card .gallery-card-info{
    position: relative;
    z-index: 3;
    color: #fff;
    transform: translateY(30px);
    transition: 0.5s all;
}
.gallery-card:hover .gallery-card-info{
    opacity: 1;
    transform: translateY(0px);
}
.gallery-card .gallery-card-info h2{
    margin: 0;
}
.gallery-card .gallery-card-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.gallery-card .gallery-card-info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 768px){
    .gallery-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -10rem;
    }
    .gallery-card{
        margin-bottom: 3rem;
    }
}
/* End Gallery Section  */