/* Our Causes Section  */
#our-causes-hero{
    width: 100%;
    height: 100vh;
    background-image: url('./images/robina-weermeijer-3KGF9R_0oHs-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.our-causes-hero-wording{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-start;
}
.our-causes-hero-wording .section-heading{
    margin-top: 1rem;
    font-size: 7rem;
}
.our-causes-wrapper{
    margin-top: 10rem;
}
@media only screen and (min-width: 768px){
    .our-causes-hero-wording .section-heading{
        font-size: 10rem;
    }
}
/* End Our Causes Section  */

/* Our Events Section  */
#our-events-hero{
    width: 100%;
    height: 100vh;
    background-image: url('./images/centre-for-ageing-better-n0cYCEWiILw-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    opacity: 1.7;
}
.our-events{
    margin-top: 7rem;
    width: 90%;
}
.our-events-img{
    width: 100%;
    height: 50rem;
    background-image: url('./images/total-shape-Ianw4RdVuoo-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.our-events-img1{
    width: 100%;
    height: 50rem;
    background-image: url('./images/total-shape-Ianw4RdVuoo-unsplash.jpg');
    background-size: contain;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.our-events-img2{
    width: 100%;
    height: 50rem;
    background-image: url('./images/DKS_4493.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.our-events-img-date{
    background-color: var(--black-1);
    padding: 4rem;
    height: 20vh;
    top: 0;
    left: 0;
}
.our-events-date{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.our-events-month{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.our-events-organizer{
    margin-top: 2rem;
    text-align: center;
}
.our-events-time{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.our-events-left-wrapper-upper{
    border-bottom: 1px solid;
}
.our-events-left-wrapper-lower{
    text-align: center;
}
.our-events-left-wrapper-lower-text{
    margin-bottom: 2rem;
}
.events-location{
    padding: 2rem;
    background: var(--black-3);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.events-location p{
    color: white;
}
.events-location .bx{
    border: white solid 0.1rem;
    border-radius: 1px;
    margin-right: 1rem
}
.our-events-right{
    margin-top: 5rem;
}
.our-events-card-wrapper{
    display: grid;
    grid-template-columns: 10rem 1fr;
    margin-bottom: 2rem;
}
.our-events-card-wrapper-left{
    width: 12rem;
    height: 100%;
    background: var(--black-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.our-events-card-wrapper-right{
    padding-left: 5rem;
}
.our-events-card-wrapper-right p,
.our-events-card-wrapper-right h2{
    text-align: start;
    margin-bottom: 2rem;
}
.our-events-card{
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid;
}
@media only screen and (min-width: 768px){
    .our-events-wrapper{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .our-events-left,
    .our-events-right{
        flex: 1;
    }
    .our-events-card-wrapper-right h2{
        margin-bottom: 2rem;
    }
    .our-events-right{
        margin-top: 0.1rem;
    }
    .our-events-date{
        margin-top: -1.5rem;
    }
}
@media only screen and (max-width: 414px){
    .our-events-card-wrapper-left{
        height: 30vh;
    }
    .our-events-img1{
        height: 40rem;
    }
    .our-events-img2{
        height: 40rem;
    }
    .our-events-card-wrapper-left{
        height: 100%;
    }
}
/* End Our Events Section  */

/* Gallery Section  */
#gallery-hero{
    width: 100%;
    background-image: url('./images/bill-wegener-LqOO5Ko0zSo-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    margin-bottom: 15rem;
}
.gallery-hero-wording{
    color: white;
    font-size: 6rem;
    margin-top: 300px;
    margin-bottom: 300px;
}
#gallery{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-wrapper{
    display: flex;
    width: 70%; 
    justify-content: space-around;
}
.gallery-card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.gallery-card:hover{
    transform: translateY(20px);
}
.gallery-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,01));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.gallery-card:hover:before{
    opacity: 1;
}
.gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}
.gallery-card .gallery-card-info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.gallery-card:hover .gallery-card-info{
    opacity: 1;
    transform: translateY(0px);
}
.gallery-card .gallery-card-info h2{
    margin: 0;
}
.gallery-card .gallery-card-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: white;
}
.gallery-card .gallery-card-info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 768px){
    .gallery-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -10rem;
    }
    .gallery-card{
        margin-bottom: 3rem;
    }
}
/* End Gallery Section  */

/* About Section  */
#about-hero{
    width: 100%;
    height: 100vh;
    background-image: url('./images/nappy-XsYJ1KueUUY-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    margin-bottom: 5rem;
}
.about-hero-wording{
    color: white;
    font-size: 6rem;
    margin-top: 300px;
    margin-bottom: 300px;
}
.about-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.about-left{
    width: 100%;
}
.about-left-wrapper{
    width: 100%;
}
.about-left-img{
    position: relative;
    height: 485px;
    width: 100%;
}
.about-left-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-left-img-text{
    background: var(--black-1);
    padding: 2rem;
}
.about-left-img-text p{
    text-align: center;
    color: white;
}
.about-right{
    margin-top: -5rem;
    margin-bottom: 10rem;
}
.about-right-wrapper h1{
    text-align: center;
    margin-top: 5rem;
}
.about-right-wrapper h2{
    margin-top: 5rem;
}
.about-right-wrapper p{
    margin-top: 5rem;
    text-align: center;
}
.about-right-text p{
    color: white;
    background: var(--black-1);
    padding: 2rem;
}
.about-right-button{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width:768px){
    .about-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2rem;
    }
    .about-left-img img{
        object-fit: cover;
    }
    .about-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
    }
    .about-right p{
        margin-bottom: 1rem;
    }
    .about-right-wrapper h1{
        padding-bottom: 5rem;
    }
    .about-right-wrapper h2{
        padding-bottom: 2rem;
    }
    .about-right-text{
        padding-top: 5rem;
    }
}
/* End About Section  */

/* About Mid Section  */
.about-mid{
    width: 90%;
}
.about-mid-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
.about-mid-left p,
.about-mid-left h2{
    margin-bottom: 3rem;
}
.about-mid-left-wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}
.about-mid-left-wrapper .mission-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-mid-left-wrapper li{
    background: var(--white-1);
    margin-bottom: 1rem;
    padding-left: 5rem;
    border-radius: 50px;
    text-align: start;
    width: 100%;
}
.about-mid-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-mid-right-wrapper{
    width: 100%;
    height: 55%;
    background-image: url('./images/jeremy-wong-1iP2NFMaMHU-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
}
.about-mid-right p,
.about-mid-right h2{
    margin-bottom: 3rem;
}
.about-mid-right-img-text{
    background: var(--black-1);
    width: 100%;
    padding-top: 2rem;
}

.about-mid-right-img-text p{
    color: white;
}
@media only screen and (min-width: 768px){
    .about-mid-wrapper{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .about-mid-left,
    .about-mid-right{
        flex: 1;
        height: 100%;
    }
    
   

}
/* End About Mid Section  */

/* Our Team Section  */

#our-team{
    background: var(--white-1);
}
.our-team-wrapper{
    width: 90%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team-wrapper .section-heading{
    margin-bottom: 3rem;
}
.our-team-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team-img{
    width: 30rem;
    height: 40rem;
}
.our-team-img img{
    width: 100%;
    object-fit: cover;
}
.our-team-name{
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.our-team-card{
    background: var(--black-1);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    color: #fff;
}
.our-team-card p{
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
}
.our-team-card-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}
.our-team-card-img .hand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-team-card-img .hand i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
}
.our-team-card .sub-heading{
    color: #fff;
}
.our-team-card p{
    color: white;
}

@media only screen and (min-width: 768px){
    .our-team-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
    .our-team-card{
        width: 30rem;
        height: 100%;
    }
    
}
/* End Our Team Section  */

/* Contact Section  */
#contact-hero{
    width: 100%;
    background-image: url('./images/emmanuel-ikwuegbu-m4h6qtdogMk-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    margin-bottom: 15rem;
}
.contact-hero-wording{
    color: white;
    font-size: 6rem;
    margin-top: 300px;
    margin-bottom: 300px;
}
.contact{
    width: 90%;
}
.contact-left-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-left-wrapper .sub-heading{
    margin-bottom: 2rem;
}
.contact-left-wrapper p{
    margin-bottom: 2rem;
    text-align: center;
}
.contact-email-img i,
.contact-phone-img{
    background: var(--white-1);
    padding: 1rem;
}
.contact-email-img span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left-wrapper .top-bar-social-wrap{
    margin-bottom: 5rem;
}
.contact-left-wrapper .top-bar-social-wrap a{
    background: var(--black-1);
    padding: 0.5rem;
    border-radius: 4px;
}
.contact-right-wrapper .volunteer-right-wrapper{
    margin-top: 5rem;
    padding-top: 7rem;
}

@media only screen and (min-width: 768px){
    .contact-wrapper{
        display: flex;
        flex-direction: row;
    }
    .contact-left,
    .contact-right{
        flex: 1;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
/* End Contact Section  */